body {
  background-color: blanchedalmond;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid red;
  gap: 20px;
  padding: 5px;
  margin: 5px;
  height: 90vh;
}

/* A box */
header {
  min-width: 10vw;
  min-height: 10vh;
  border: solid teal;
}

/* B box */
main { 
  min-width: 10vw;
  min-height: 50vh;
  border: solid teal;
}

/* C D E Box */
aside {
  min-width: 68.5vw;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  border: solid teal;
  justify-content: space-evenly;
}

.c, .d, .e {
  border: solid red;
  width: 15%;

}

/* F box */
footer {
  min-width: 10vw;
  min-height: 10vh;
  display: flex;
  border: solid teal;
}

@media (min-width: 800px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
    header {
      width: 100%;
      }

      main {
        width: 70%;
      }

      footer {
        flex-grow: 1;
        height:
      }
    } 