body {
  background-color: blanchedalmond;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  border: solid red;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
}

header, footer, aside, .wrapper  {
  flex-grow: 1;
  margin: .5em;
  max-height: 10vh;
}

aside  {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 20vh;
}

aside > div {
  flex-grow: 1;
  margin: .5em;
}

main { 
  width: 90%;
  flex-grow: 1;
  margin: .5em;
  border: solid teal;
}

header, .b, .c, .d, .e, footer {
  border: solid teal;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
    header {
      width: 100%;
      max-height: 10vh;
      }
    .wrapper {
        justify-content: stretch;
        flex-basis: 70%;
        min-height:  80vh;
      }

      footer {
        flex-grow: 3;
        min-height: 80vh;
        margin:.5em;
      }
    } 